<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="telerik" value="https://nuget.telerik.com/v3/index.json" />
		<add key="githubpackagefeed" value="https://nuget.pkg.github.com/setworks/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<telerik>
			<add key="Username" value="hmccracken@gmail.com" />
			<add key="ClearTextPassword" value="80a2d81d5a" />
		</telerik>
		<githubpackagefeed>
			<add key="Username" value="gsuarez@setworks.com" />
			<add key="ClearTextPassword" value="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" />
		</githubpackagefeed>
	</packageSourceCredentials>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSourceMapping>
			<packageSource key="telerik">
				<package pattern="Telerik.*" />
			</packageSource>
		</packageSourceMapping>
	</packageSourceMapping>
</configuration>
